.carousel {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.images {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.image {
  position: inherit;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 2s;
}
