.chat {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  height: calc(100vh - 80px - 15px);
}

.container {
  align-items: center;
  border-radius: 5px 5px 20px 20px;
  overflow: hidden;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  height: 600px;
}

.header {
  align-items: center;
  background: #38e7b6;
  border-bottom: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.image {
  border-radius: 50px;
  height: 50px;
  margin: 5px;
  overflow: hidden;
  width: 50px;
}

.name {
  color: #fff;
  font-size: 18px;
  margin-left: 10px;
}

.chatbox {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 400px;
  height: 500px;
}

.message {
  color: #000;
  background-color: #ddd;
  border-radius: 10px;
  margin: 10px;
  max-width: 70%;
  padding: 10px 20px;
}

.got {
  align-self: flex-start;
}

.sent {
  align-self: flex-end;
  color: #fff;
  background-color: #6a43ee;
}

.chat img {
  height: 100%;
}

.chat form {
  border-top: 1px solid #ccc;
  height: 60px;
  background-color: #ddd;
  color: #222;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
}

.chat input {
  background-color: inherit;
  color: inherit;
  border: none;
  font-size: 18px;
  height: 100%;
  outline: none;
  padding: 5px 10px;
  width: 80%;
}

.chat button {
  background-color: inherit;
  color: inherit;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  width: 15%;
}

.chat button:hover {
  color: #fff;
}

.waiting {
  display: flex;
  margin-left: 16px;
  padding-bottom: 16px;
  align-items: center;
  height: 50px;
  width: 80px;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  animation: blink 1s infinite ease-in-out;
}

@keyframes blink {
  0% {
    background-color: #bbb;
  }
  50% {
    background-color: #555;
  }
  100% {
    background-color: #bbb;
  }
}
